<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./dist/css/main.css?v=10.0.0">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="./dist/images/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="./dist/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="./dist/images/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="./dist/images/safari-pinned-tab.svg" color="#003982">
    <link rel="icon" href="./dist/images/favicon.ico">
    <meta name="theme-color" content="#003982">
    <title>{{ title }}</title>
</head>
<body id="logo-top" class="preload">
    <div class="top top--pinned">
        {{> header }}
        {{> navigation }}
    </div>
    {{> body }}
    {{> subscribe }}
    {{> footer }}
    {{> loginModal }}
    {{> registermodal }}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="./dist/js/accordeon.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCdIG7YiSQDsBi7PvYY_3Vy0qxvEoN4Vg"></script>
    <script src="./dist/js/main.js?v=1.0.0"></script>
</body>
</html>
