.wishlist {
  padding-bottom: 100px;
}

.wishlist__items .col-12 {
  margin-bottom: 20px;
}

.wishlist__actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.wishlist__pagination {
  margin-top: 30px;
}

.wishlist .leader-card__actions .leader-card__link:nth-child(2) svg {
  fill: #5100D3;
}

@media screen and(max-width: 992px) {
  .wishlist__actions {
    margin-top: 30px;
  }
}