.checkout {
  padding-bottom: 140px;
}

.checkout__summary {
  padding: 20px 20px 50px;
  background-color: #F8F8F8;
  z-index: 2;
}

.checkout__info {
  margin-top: 40px;

  dl {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 25px;

    &:nth-child(2), &:nth-child(3) {
      margin-bottom: 50px;
    }

    &:last-of-type {
      font-size: 18px;
      margin-bottom: 11px;
    }
  }

  dt {
    font-weight: 500;
  }

  dd {
    margin-bottom: 0;
    color: #828282;
  }

  p {
    margin: 0;
    padding-right: 40px;
    font-size: 14px;
    color: #828282;
  }
}

.checkout__actions {
  margin-top: 70px;

  .btn {
    width: 100%;
  }
}

.checkout__agree {
  margin-top: 25px;
  color: #4F4F4F;

  .check__text {
    position: relative;
    top: -2px;
    font-size: 14px;
  }
}

.checkout__promo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;

  h2 {
    margin: 0 0 14px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
  }

  .input {
    width: auto;
    flex-grow: 0.6;
    margin-right: 10px;
  }
}

.checkout__form {
  margin-top: 100px;

  &--ordinal {
    .organization-customer {
      display: none;
    }

    .ordinal-customer {
      display: block;
    }
  }

  &--org {
    .ordinal-customer {
      display: none;
    }

    .organization-customer {
      display: block;
    }
  }

  .org-selector {
    position: relative;
    border-bottom: 1px solid #262626;
    cursor: pointer;

    &--inner {
      padding: 10px;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      background-color: #ffffff;
      cursor: pointer;
      display: none;

      span {
        &:hover {
          color: #5100D3;
        }
      }
    }

    &:hover .org-selector--inner {
      display: block;
      z-index: 2;
    }
  }

  .secondary-title + p {
    margin: 0;
    color: #4F4F4F;

    a {
      text-decoration: underline;
    }
  }
  
  .form {
    margin-top: 50px;
  }

  .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}

.org-selector {
  font-weight: 400;
}

.form__block--payment {
  margin-top: 80px;
}

.checkout__payment-buttons {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.checkout__payment-button {
  width: calc((100% - 60px) / 3);

  input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + label {
      border-color: #5100D3;
      color: #5100D3;
    }
  }
  
  label { 
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #929292;
    cursor: pointer;
  }
}

.checkout__payment-img {
  flex-grow: 1;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .checkout .row {
    flex-direction: column-reverse;
  }

  .checkout .col-lg-4 {
    margin-bottom: 30px;
  }

  .checkout__summary {
    position: static !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 490px) {
  .checkout .page-title {
    font-size: 30px;
  }

  .checkout__payment-buttons {
    flex-direction: column;
  }

  .checkout__payment-button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .checkout__promo {
    flex-direction: column;

    .input {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .form__label--with-option {
    flex-direction: column;
  }

  .form-switch {
    margin-top: 20px;
  }
}