.filters__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.filters__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.filters__item {
  position: relative;
  width: calc((100% - 120px) / 5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #262626;
  cursor: pointer;

  &--button {
    border: none;
    justify-content: center;
    display: none;
  }

  &:hover .filters__item-menu-wrapper {
    display: block;
  }

  svg {
    width: 12px;
  }
}

.filters__button {
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #E0E0E0;
}

.filters__item-menu-wrapper {
  padding-top: 3px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 9999;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  display: none;
}

.filters__item-scroll {
  position: relative;
  max-height: 320px;
  background-color: #ffffff;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #EFEFEF;
  }
   
  &::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 0;
    height: 71px;
  }
}

.filters__item-menu {
  padding: 20px;
  font-size: 16px;
  background-color: #ffffff;
}

.filters__item-button {
  padding: 20px;
  background-color: #ffffff;
}

.filters__close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 10px;
  display: none;

  svg {
    width: 24px;
  }
}

@media screen and(max-width: 992px) {
  .filters__button {
    display: none;
  }
  .filters__item-menu-wrapper {
    position: relative;
    top: 0;
    width: 100%;
    box-shadow: none;
  }

  .filters__items {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    align-items: center;
    justify-content: center;

    &--mobile {
      left: 0;
      justify-content: flex-start;
      padding-top: 50px;
      overflow-y: auto;
    }
  }

  .filters__item {
    margin-bottom: 20px;
    width: 90%;
    flex-wrap: wrap;

    &--button {
      display: flex;
    }

    &:hover .filters__item-menu-wrapper {
      display: none;
    }
  }

  .filters__item--opened {
    .filters__item-menu-wrapper {
      display: block !important;
    }
  }

  .filters__icon {
    display: block;
    margin-left: auto;
  }

  .filters__close {
    display: block;
  }
}