.float-textarea {
  width: 100%;
  border: 1px solid #828282;
  height: 250px;
  padding: 0 10px;
  position: relative;

  &.active {
    border-color: #5100D3;
  }
}

.float-textarea textarea {
  appearance: none;
  width: 100%;
  height: calc(100% - 28px);
  resize: none;
  margin: 18px 0 10px;
  color: #4F4F4F;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

.float-textarea label {
  font-size: 17px;
  position: absolute;
  text-shadow: 1px 0 0 currentColor;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all .1s ease-in-out;
}

.float-textarea.active label {
  transform: translate(0, 4px) scale(.75);
}