.float-input {
  width: 100%;
  border: 1px solid #828282;
  height: 60px;
  padding: 0 10px;
  position: relative;

  &.active {
    border-color: #5100D3;
  }

  &.disabled {
    background-color:#BDBDBD;

    input {
      background-color:#BDBDBD;
    }
  }
}

.float-input input {
  appearance: none;
  width: 100%;
  margin: 18px 0 10px;
  color: #4F4F4F;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

.float-input label {
  font-size: 18px;
  text-shadow: 1px 0 0 currentColor;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all .1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 15px);
  text-overflow: ellipsis;
}

.float-input.active label {
  transform: translate(0, 4px) scale(.75);
}