.header {
  padding: 30px 0 18px;

  svg {
    width: 250px;
  }
}

.header__search {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;

  svg {
    width: 30px;
    position: absolute;
    right: 15px;
    transform: translateY(calc(-50% - 2px));
    top: 50%;
  }
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mobile-menu {
  width: 24px;
  height: 24px;
  display: none;

  svg {
    width: 24px;
    height: 24px;
  }
}

.header__icons-items {
  display: flex;
}

.header__icons-item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4F4F4F;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover svg path{
    stroke: #5100D3;
  }
}

.lang-select {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 12px;
  font-weight: 300;
  color: #4F4F4F;
  cursor: pointer;

  svg {
    width: 16px;
  }
}

.app-input {
  width: 100%;
  padding-right: 40px;
  appearance: none;
  outline: none;
  border: none;
  font-size: 16px;
  font-style: italic;
  color: #4F4F4F;
  border-bottom: 1px solid #4F4F4F;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .mobile-menu {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }
}