.instagram {
  padding: 80px 0 90px;
  background-color: #F4F1EE;
}

.instagram a:hover {
  opacity: 0.7;
}

.instagram__title {
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #262626;
}

@media screen and (max-width: 480px) {
  .instagram__title {
    font-size: 28px;
    line-height: 1.2;
  }
}