@import "base/base";

@import "vendors/bootstrap";
@import "vendors/swiper";

@import "fonts";
@import "header";
@import "nav";
@import "decor";
@import "ideas";
@import "leaders";
@import "visit";
@import "quote";
@import "instagram";
@import "subscribe";
@import "footer";