.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

.overflow .modal {
  opacity: 1;
}

.modal__dialog {
  width: 90%;
  max-width: 750px;
  // width: auto;
  // min-height: calc(100% - 3rem);
  // max-height: calc(100% - 3rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  transform: translate(0,-50px);
  transition: all 0.3s ease-in-out;
}

.overflow .modal__dialog {
  transform: none;
}

.modal__content {
  position: relative;
  max-height: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  outline: 0;
}

.modal__header {
  position: relative;
  padding: 40px;
}

.modal__title {
  font-size: 30px;
  color: #5100D3;

  &--light {
    font-weight: 300;
    font-size: 36px;
    color: #262626;
  }
}

.modal__close {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  right: -9px;
  appearance: none;
  outline: none;
  border: none;
  background-color: #5100D3;

  svg {
    width: 18px;
    fill: #ffffff;
    pointer-events: none;
  }
}

.modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: 5px 40px 40px;
  overflow-y: auto;
}

.modal__footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 40px 40px;

  .btn + .btn {
    margin-left: 30px;
  }
}

.modal--login {
  .register-link {
    margin-top: 20px;
  }
}

@media screen and(max-width: 745px) {
  .modal--register {
    .modal__footer {
      flex-direction: column;

      .btn + .btn {
        margin-left: 0;
        margin-top: 20px;
      }  
    }
  }
}

@media screen and(max-width: 662px) {
  .modal__footer {
    flex-direction: column;

    .btn + .btn {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 576px) {
  .modal__dialog {
    min-height: calc(100% - 3.5rem);
    max-height: calc(100% - 3.5rem);
  }
}

@media screen and(max-width: 550px) {
  .modal--register {
    .modal__title--light {
      font-size: 30px;
    }
  }
}

@media screen and(max-width: 480px) {
  .modal--register {
    .modal__title--light {
      font-size: 28px;
    }
  }
}

@media screen and(max-width: 355px) {
  .modal--register {
    .btn {
      font-size: 14px;
    }
  }
}