
.subscribe {
  padding: 95px 0;
  background-color: #F8F8F8;

  a {
    text-decoration: underline;
  }
}

.subscribe__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #262626;
}

.subscribe__form {
  position: relative;
  margin-top: 35px;

  svg {
    width: 24px;
  }
  
  span {
    position: absolute;
    bottom: 3px;
    right: 0;
    cursor: pointer;

    &:hover svg path {
      fill: #5100D3;
    }
  }
}

.floating-form__label {
  display: block;
  position: relative;
  margin: 0;
  max-height: 0;
  font-weight: 400;
  pointer-events: none;

  &:before {
    content: attr(data-content);
    display: inline-block;
    filter: blur(0);
    backface-visibility: hidden;
    transform-origin: left top;
    transition: transform 0.2s ease;
    left: 1rem;
    bottom: -6px;
    position: relative;
    width: 100%;
    background-color: #F8F8F8;
  }

  &:after {
    bottom: 1rem;
    content: "";
    height: 0.1rem;
    position: absolute;
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
    opacity: 0;
    left: 0;
    top: 100%;
    margin-top: -0.1rem;
    transform: scale3d(0, 1, 1);
    width: 100%;
    background-color: #F8F8F8;
  }
}

.floating-form__input:focus + .floating-form__label::after {
  transform: scale3d(1, 1, 1);
}

.floating-form__input:placeholder-shown + .floating-form__label::before {
  transform: translate3d(-1rem, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating-form__label::before,
.floating-form__input:focus + .floating-form__label::before {
  transform: translate3d(-1rem, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.agreement {
  margin-top: 25px;
}

.check {
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  margin-left: -1.2em;
  margin-top: 0.4em;
  width: 0.7em;
  height: 0.7em;
  box-shadow: 0 0 0 0.1em #262626;
  background-color: transparent;

  &:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;
    width: 7px;
    height: 9px;
    border: solid #262626;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
  }
}

.check__input:checked + .check__box:after {
  display: block;
}

@media screen and(max-width: 500px) {
  .subscribe {
    padding: 30px 0;
  }
}

@media screen and (max-width: 480px) {
  .subscribe__title {
    font-size: 20px;
    line-height: 1.2;
  }
}