.top-banner {
  padding-bottom: 50px;
}

.top-banner__slide {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.top-banner__text {
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  color: #000;
  text-align: left;

  h2 {
    margin: 15px 0 40px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;

    span {
      color: #5100D3;
    }
  }
}

.top-banner__img {
  width: 49%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 992px) {
  .top-banner__text h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .top-banner__slide {
    flex-direction: column-reverse;
  }

  .top-banner__text, .top-banner__img {
    width: 100%;
  }

  .top-banner__text h2 {
    font-size: 30px;
  }
}