<a href="./blogpost.html" class="blogcard-hor {{#ifequal type 'reverse'}} blogcard-hor--reverse {{/ifequal}}">
  <div class="blogcard-hor__img">
    <img src="./dist/images/{{img}}.jpg" alt="">
  </div>
  <div class="blogcard-hor__content">
    <div class="blogcard-hor__title">
      {{{ title }}}
    </div>
    <div class="blogcard-hor__date">
      28 янв - 16 июн 2021
    </div>
    <div class="blogcard-hor__text">
      {{ text }}
    </div>
    <div class="blogcard-hor__tags">
      <span>#события</span>
      <span>#выставки</span>
    </div>
  </div>
</a>