<a href="./blogpost.html" class="blogcard">
  <div class="blogcard__img">
    <img src="./dist/images/{{img}}.jpg" alt="">
  </div>
  <div class="blogcard__title">
    {{ title }}
  </div>
  <div class="blogcard__desc">
    <div class="blogcard__date">
      28 янв - 16 июн 2021
    </div>
    <div class="blogcard__text">
      Сессия «Оставленное время. От античности к барокко» приурочена к открытию выставки «Фабрицио Плесси. Душа камня».
    </div>
  </div>
  <div class="blogcard__tags">
    <span>#события</span>
    <span>#выставки</span>
  </div>
</a>