<div class="cart__items">
  {{#each items }}
    <div class="cart__item">
        <div class="cart__item-img">
          <img src="./dist/images/{{img}}.jpg" alt="">
        </div>
        <div class="cart__item-main">
          <div class="cart__item-top">
            <div class="cart__item-desc">
              <div class="cart__item-title">
                {{ title }}
              </div>
            </div>
            {{#ifequal type 'cart'}}
              <div class="cart__item-qty">
                {{> numberInput }}
              </div>
            {{/ifequal}}
            <div class="cart__item-price">
              12 240 ₽
            </div>
          </div>
          <div class="cart__item-params">
            <div class="cart__item-sizes">
              <span>Цвет: бронза</span>
              <span>Размер: 20 см</span>
            </div>
            <div class="cart__item-number">
              Артикул: # 80052873
            </div>
          </div>
        </div>
        <button class="btn btn--ghost cart__item-remove js-cart-remove">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 25"><path d="M17.5 20.75a3.75 3.75 0 01-3.75 3.75H5a3.75 3.75 0 01-3.75-3.75v-15H0V2h5.625L6.875.75h5L13.125 2h5.625v3.75H17.5v15zm-15-15v15a2.5 2.5 0 002.5 2.5h8.75a2.5 2.5 0 002.5-2.5v-15H2.5zm15-1.25V3.25h-5L11.25 2H7.5L6.25 3.25h-5V4.5H17.5zM5 8.25h1.25v12.5H5V8.25zm7.5 0h1.25v12.5H12.5V8.25z" fill="#262626"/></svg>
        </button>
    </div>
  {{/ each}}
</div>