<div class="cat-items">
  <h2 class="cat-items__title">все книги</h2>
  {{> filters }}

  <div class="category">
    <div class="container">
      <div class="row mb-lg-4">
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
      </div>
      <div class="row mb-lg-4">
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
      </div>
      <div class="row mb-lg-4">
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
      </div>
    </div>
  </div>
  {{> pagination }}
</div>