<div class="cat-items">
  <h2 class="cat-items__title">все книги</h2>
  {{> filters }}
  <div class="cat-items__qty">
    <div class="container">
      <div class="qty-selector">
        Показать 12 товаров
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M.333 5.5h10.209L6.167 1.125 6.72.5l5.417 5.417-5.417 5.416-.553-.625 4.375-4.375H.333V5.5z" fill="#262626"/></svg>
        <div class="qty-selector__items">
          <a href="#" class="qty-selector__item">
            Показать 24 товара
          </a>
          <a href="#" class="qty-selector__item">
            Показать 32 товара
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <div class="container">
      <div class="row mb-lg-4">
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
      </div>
      <div class="row mb-lg-4">
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
      </div>
      <div class="row mb-lg-4">
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard}}
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
          {{> productCard }}
        </div>
      </div>
    </div>
  </div>
  {{> pagination }}
</div>