<label class="color-selector">
  <input class="color-selector__input" type="radio" name="color" value="xxl">
  <span class="color-selector__box color-selector__box--green">
  </span>
</label>
<label class="color-selector">
  <input class="color-selector__input" type="radio" name="color" value="xl">
  <span class="color-selector__box color-selector__box--blue">
  </span>
</label>
<label class="color-selector">
  <input class="color-selector__input" type="radio" name="color" value="m">
  <span class="color-selector__box color-selector__box--red">
  </span>
</label>