<div class="cta">
  <div class="container">
    <div class="row">
      <div class="cta__slider splide main-slider">
        <div class="main-slider__wrapper splide__track">
          <div class="splide__list">
            <!-- <div class="main-slider__slide main-slide splide__slide">
              <div class="main-slide__text">
                <span>
                  Декор и аксессуары
                </span>
                <h2>
                  ассирийские стражи для ваших книг
                </h2>
                <button type="button" class="btn">В каталог</button>
              </div>
              <div class="main-slide__img">
                <img src="./dist/images/books1.jpg" alt="books">
              </div>
            </div> -->
            <!-- <div class="main-slider__slide main-slide splide__slide">
              <div class="main-slide__text">
                <span>
                  Творчество, которое объединяет
                </span>
                <h2>
                  классные пазлы по мотивам картин гогена
                </h2>
                <button type="button" class="btn">В каталог</button>
              </div>
              <div class="main-slide__img">
                <img src="./dist/images/main-slider1.jpg" alt="books">
              </div>
            </div> -->
            <div class="main-slider__slide main-slide splide__slide">
              <div class="main-slide__text">
                <span>
                  Декор и аксессуары
                </span>
                <h2>
                  статуэтка <span>шеду</span> - дух-хранитель человека
                </h2>
                <button type="button" class="btn">В каталог</button>
              </div>
              <div class="main-slide__img">
                <img src="./dist/images/sl-1.jpg" alt="books">
              </div>
            </div>
            <div class="main-slider__slide main-slide splide__slide">
              <div class="main-slide__text">
                <span>
                  Подарки со смыслом
                </span>
                <h2>
                  коллекция сувениров - <span>русский авангард</span>
                </h2>
                <button type="button" class="btn">В каталог</button>
              </div>
              <div class="main-slide__img">
                <img src="./dist/images/sl-2.jpg" alt="books">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__pagination">

      </div>
    </div>
  </div>
</div>