<div class="cta">
  <div class="container">
    <div class="row">
      <div class="cta__slider main-slider swiper-container">
        <div class="main-slider__wrapper swiper-wrapper">
          <div class="main-slider__slide main-slide swiper-slide">
            <div class="main-slide__text">
              <span>
                Декор и аксессуары
              </span>
              <h2>
                ассирийские стражи для ваших книг
              </h2>
              <button type="button" class="btn">В каталог</button>
            </div>
            <div class="main-slide__img">
              <img src="./dist/images/books1.jpg" alt="books">
            </div>
          </div>
          <div class="main-slider__slide main-slide swiper-slide">
            <div class="main-slide__text">
              <span>
                книги для детей
              </span>
              <h2>
                познавательные подарки для детей
              </h2>
              <button type="button" class="btn">В каталог</button>
            </div>
            <div class="main-slide__img">
              <img src="./dist/images/child1.jpg" alt="books">
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__pagination">

      </div>
    </div>
  </div>
</div>