<div class="filters">
  <div class="container">
    <div class="filters__items">
      <div class="filters__close js-filters-close">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
      <div class="filters__item">
        <span>По цене</span>
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M.333 5.5h10.209L6.167 1.125 6.72.5l5.417 5.417-5.417 5.416-.553-.625 4.375-4.375H.333V5.5z" fill="#262626"/></svg>
        <div class="filters__item-menu-wrapper">
          <div class="filters__item-scroll">
            <div class="filters__item-menu">
              <div class="filters__item-option">
                <a href="#">По возрастанию</a>
              </div>
              <div class="filters__item-option">
                <a href="#">По убыванию</a>
              </div>
            </div>
          </div>
          <!-- <div class="filters__item-button">
            <a href="#">Посмотреть</a>
          </div> -->
        </div>
      </div>
      <div class="filters__item">
        <span>Издательство</span>
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M.333 5.5h10.209L6.167 1.125 6.72.5l5.417 5.417-5.417 5.416-.553-.625 4.375-4.375H.333V5.5z" fill="#262626"/></svg>
        <div class="filters__item-menu-wrapper">
          <div class="filters__item-scroll">
            <div class="filters__item-menu">
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Арт-Волхонка
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Leonardo Arte
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  ГМИИ им. А.С.Пушкина
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="filters__item-button">
            <a href="#">Посмотреть</a>
          </div> -->
        </div>
      </div>
      <div class="filters__item">
        <span>Автор</span>
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M.333 5.5h10.209L6.167 1.125 6.72.5l5.417 5.417-5.417 5.416-.553-.625 4.375-4.375H.333V5.5z" fill="#262626"/></svg>
        <div class="filters__item-menu-wrapper">
          <div class="filters__item-scroll">
            <div class="filters__item-menu">
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Кузнецова И.А
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Познанская А.В
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Куна Н.А
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Краснобаева Ю.Е
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Акимова Л.И., Ильина Т.А., Коровина А.К., Ю.А. Савельев, Савостина Е.А., Самар О.Ю. ,  Смоленкова В.В.; ВАСИЛЬЕВА О.А.
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  С. Бюиссон, Ж. Вано, Б. Лоркен и др.
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Билл Виола
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Виталий Мишин
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  К.Д. Денисон
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Дж. Э. Боулт, А. Луканова, И. Войтова
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Евгения Петрова, Владимир Гусев;  Аверьянова О.
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Бандера М.К.,  Грегори М., Маркова В.Э.
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Акимова Л.И., Толстиков В.П., Трейстер М.Ю.
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Александрова Наталья, Волкова Ульяна, Коваленко Сергей Анатольевич
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Ольга Самар
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Оскар Уайльд
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="filters__item-button">
            <a href="#">Посмотреть</a>
          </div> -->
        </div>
      </div>
      <div class="filters__item">
        <span>Художник</span>
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M.333 5.5h10.209L6.167 1.125 6.72.5l5.417 5.417-5.417 5.416-.553-.625 4.375-4.375H.333V5.5z" fill="#262626"/></svg>
      </div>
      <div class="filters__item">
        <span>Формат</span>
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M.333 5.5h10.209L6.167 1.125 6.72.5l5.417 5.417-5.417 5.416-.553-.625 4.375-4.375H.333V5.5z" fill="#262626"/></svg>
        <div class="filters__item-menu-wrapper">
          <div class="filters__item-scroll">
            <div class="filters__item-menu">
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Твёрдый переплёт
                </label>
              </div>
              <div class="filters__item-option">
                <label class="check">
                  <input
                    type="checkbox"
                    class="check__input"
                    id="agreement"
                    name="agreement"
                    value="yes"
                  />
                  <span class="check__box"></span>
                  Мягкий переплёт
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="filters__item-button">
            <a href="#">Посмотреть</a>
          </div> -->
        </div>
      </div>
      <div class='filters__item filters__item--button'>
        <button class='btn btn--outline'>Показать</button>
      </div>
    </div>
    <div class='filters__button'>
      <button class='btn btn--outline'>Показать</button>
    </div>
    <div class="filters__icon js-filters">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
      </svg>
    </div>
  </div>
</div>