<div class="ideas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h2 class="ideas__title">лучшие идеи для вас</h2>
        <p class="ideas__text">
          Товары и аксессуары вдохновленные коллекциями и предметами искусства
          из коллекций Пушкинского музея украсят ваш дом и позволят раскрыть вас
          как тонкого ценителя прекрасного. Лучший подарок для интеллектуальной
          элиты общества и как показатель вашего высокого чувства стиля и тому
          подобного.
        </p>
      </div>
      <div class="col-12 col-lg-8">
        <div class="row--slider">
          <div class="splide idea-slider">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide" data-slide="1">
                  <div class="idea-card__img">
                    <img src="./dist/images/idea.jpg" alt="" />
                  </div>
                  <div class="idea-card__title">книги по искусству
                    путеводители</div>
                  <div class="idea-card__link">
                    <a href="#1" class="idea-card__link-item">
                      Посмотреть
                      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13">
                        <path d="M0 6h12.25L7 .75 7.664 0l6.5 6.5-6.5 6.5L7 12.25 12.25 7H0V6z" fill="#111" />
                      </svg>
                    </a>
                  </div>
                </li>
                <li class="splide__slide" data-slide="2">
                  <div class="idea-card__img">
                    <img src="./dist/images/idea1.jpg" alt="" />
                  </div>
                  <div class="idea-card__title">домашний декор и предметы искусства</div>
                  <div class="idea-card__link">
                    <a href="#2" class="idea-card__link-item">
                      Посмотреть
                      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13">
                        <path d="M0 6h12.25L7 .75 7.664 0l6.5 6.5-6.5 6.5L7 12.25 12.25 7H0V6z" fill="#111" />
                      </svg>
                    </a>
                  </div>
                </li>
                <li class="splide__slide" data-slide="3">
                  <div class="idea-card__img">
                    <img src="./dist/images/idea2.jpg" alt="" />
                  </div>
                  <div class="idea-card__title">всё для творчества</div>
                  <div class="idea-card__link">
                    <a href="#3" class="idea-card__link-item">
                      Посмотреть
                      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13">
                        <path d="M0 6h12.25L7 .75 7.664 0l6.5 6.5-6.5 6.5L7 12.25 12.25 7H0V6z" fill="#111" />
                      </svg>
                    </a>
                  </div>
                </li>
                <li class="splide__slide" data-slide="4">
                  <div class="idea-card__img">
                    <img src="./dist/images/idea1.jpg" alt="" />
                  </div>
                  <div class="idea-card__title">идеи подарков</div>
                  <div class="idea-card__link">
                    <a href="#4" class="idea-card__link-item">
                      Посмотреть
                      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13">
                        <path d="M0 6h12.25L7 .75 7.664 0l6.5 6.5-6.5 6.5L7 12.25 12.25 7H0V6z" fill="#111" />
                      </svg>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="idea-slider__pagination">
              <div class="idea-slider__arrow idea-slider__prev">
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 24">
                  <path d="M11.785 23.827L0 12.042 11.785.256l1.473 1.473L2.946 12.042l10.312 10.312-1.473 1.473z"
                    fill="#262626" />
                </svg>
              </div>
              <div class="idea-slider__arrow idea-slider__next">
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 24">
                  <path d="M2.215.173L14 11.958 2.215 23.744.742 22.27l10.312-10.313L.742 1.646 2.215.173z"
                    fill="#262626" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row--slider">
          <div class="idea-slider swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="idea-card__img">
                  <img src="./dist/images/idea.jpg" alt="" />
                </div>
                <div class="idea-card__title">книги по искусству
                  путеводители</div>
                <div class="idea-card__link">
                  <a href="#1" class="idea-card__link-item">
                    Посмотреть
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13">
                      <path d="M0 6h12.25L7 .75 7.664 0l6.5 6.5-6.5 6.5L7 12.25 12.25 7H0V6z" fill="#111" />
                    </svg>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="idea-card__img">
                  <img src="./dist/images/idea1.jpg" alt="" />
                </div>
                <div class="idea-card__title">домашний декор и предметы искусства</div>
                <div class="idea-card__link">
                  <a href="#2" class="idea-card__link-item">
                    Посмотреть
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13">
                      <path d="M0 6h12.25L7 .75 7.664 0l6.5 6.5-6.5 6.5L7 12.25 12.25 7H0V6z" fill="#111" />
                    </svg>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="idea-card__img">
                  <img src="./dist/images/idea2.jpg" alt="" />
                </div>
                <div class="idea-card__title">всё для творчества</div>
                <div class="idea-card__link">
                  <a href="#3" class="idea-card__link-item">
                    Посмотреть
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13">
                      <path d="M0 6h12.25L7 .75 7.664 0l6.5 6.5-6.5 6.5L7 12.25 12.25 7H0V6z" fill="#111" />
                    </svg>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="idea-card__img">
                  <img src="./dist/images/idea1.jpg" alt="" />
                </div>
                <div class="idea-card__title">идеи подарков</div>
                <div class="idea-card__link">
                  <a href="#4" class="idea-card__link-item">
                    Посмотреть
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13">
                      <path d="M0 6h12.25L7 .75 7.664 0l6.5 6.5-6.5 6.5L7 12.25 12.25 7H0V6z" fill="#111" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="idea-slider__pagination">
            <div class="idea-slider__prev">
              <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 24">
                <path d="M11.785 23.827L0 12.042 11.785.256l1.473 1.473L2.946 12.042l10.312 10.312-1.473 1.473z"
                  fill="#262626" />
              </svg>
            </div>
            <div class="idea-slider__next">
              <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 24">
                <path d="M2.215.173L14 11.958 2.215 23.744.742 22.27l10.312-10.313L.742 1.646 2.215.173z"
                  fill="#262626" />
              </svg>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>