<div class="inner-slider {{#ifequal theme 'light'}}inner-slider--light{{/ifequal}}">
  <div class="container">
    <div class="row">
      <div class="subcat-slider splide">
        <div class="splide__track">
          {{#ifequal type 'cat'}}
            <div class="splide__list">
              {{#each images }}
                <a href="#" class="splide__slide inner-slider__slide">
                  <div class="inner-slider__slide-img">
                    <img src="./dist/images/{{img}}.jpg" alt="">
                  </div>
                  <div class="inner-slider__slide-title">
                    {{title}}
                  </div>
                </a>
              {{/each}}
            </div>
          {{/ifequal}}
          {{#ifequal type 'product'}}
            <div class="splide__list">
              {{#each images }}
                <div class="splide__slide">
                  {{> productCard}}
                </div>
              {{/each}}
            </div>
          {{/ifequal}}
        </div>
      </div>
    </div>
  </div>
</div>