<div class="instagram">
  <div class="container">
    <h2 class="instagram__title">Мы в инстаграм</h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
        <a href="#"><img src="./dist/images/instagram.jpg" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
        <a href="#"><img src="./dist/images/instagram1.jpg" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
        <a href="#"><img src="./dist/images/instagram2.jpg" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center mb-4 mb-lg-0">
        <a href="#"><img src="./dist/images/instagram3.jpg" alt=""></a>
      </div>
    </div>
  </div>
</div>