<div class="modal modal--login" data-close="true" tabindex="-1">
  <div class="modal__dialog">
    <div class="modal__content">
      <div class="modal__header">
        <h5 class="modal__title modal__title--light">Войти в личный кабинет</h5>
        <button type="button" class="modal__close" data-close="true" aria-label="Close">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
            <path
              d="M11.41 9l7.29-7.29A1 1 0 0017.29.3L10 7.59 2.71.29A1 1 0 001.3 1.7L8.59 9l-7.3 7.29A1.001 1.001 0 102.7 17.7l7.3-7.29 7.29 7.29a1 1 0 001.41-1.41L11.41 9z"
              fill="#fff" />
          </svg>
        </button>
      </div>
      <div class="modal__body">
        <div class="form">
          <form class="form__row form__row--double" id="loginForm">
            {{> floatInput type="email" id="loginEmail" label="Ваша почта"}}
            {{> floatInput type="password" id="loginPassword" label="Ваш пароль"}}
          </form>
        </div>
      </div>
      <div class="modal__footer">
        <a href="#" class="btn btn--outline">Забыли пароль?</a>
        <button type="submit" form="loginForm" class="btn btn--outline">Войти в кабинет</button>
      </div>
    </div>
  </div>
</div>