<nav class="nav">
  <div class="container justify-content-between">
    <a href="#" class="nav__link">книги</a>
    <a href="#" class="nav__link">творчество</a>
    <a href="#" class="nav__link">одежда и аксессуары</a>
    <a href="#" class="nav__link">украшения</a>
    <a href="#" class="nav__link">декор</a>
    <a href="#" class="nav__link">дети</a>
    <a href="#" class="nav__link">канцелярия</a>
    <a href="#" class="nav__link">коллекции</a>
    <a href="#" class="nav__link">акции</a>
    <a href="#" class="nav__link">подарки</a>
  </div>
  <span class="nav__close js-close-menu">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </span>
</nav>
