<nav class="nav">
  <ul class="container justify-content-between">
    <li class="nav__link nav__link--submenu">
      <a href="category.html">
      книги
      </a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">творчество</a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">одежда и аксессуары</a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">украшения</a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">декор</a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">дети</a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">канцелярия</a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">коллекции</a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">акции</a>
      {{> submenu}}
    </li>
    <li class="nav__link nav__link--submenu">
      <a href="category.html">подарки</a>
      {{> submenu}}
    </li>
  </ul>
  <span class="nav__close js-close-menu">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </span>
</nav>
