<div class="product-slider">
  <div class="product-slider__main splide">
    <div class="splide__track">
      <div class="splide__list">
        {{#each images }}
          <div class="splide__slide">
            <img src="./dist/images/{{img}}.jpg" alt="">
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="product-slider-thumb splide">
    <div class="splide__track">
      <div class="splide__list">
        {{#each images }}
          <div class="splide__slide">
            <img src="./dist/images/{{img}}.jpg" alt="">
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>