<h1 class="product__title">
  Свитшот <span>ZEYTZ</span>. Коллекция «Пушкинский музей»
</h1>
<div class="product__stats">
  <span>Артикул: # 80052873</span>
  {{> shareLink text="Поделиться"}}
</div>
<div class="product__rating">
  {{> starRating rating=4.65 class='js-show-stars' }}
  <span>
    Рейтинг 4,65 на базе <a href="#"> 125 отзывов</a>
  </span>
</div>
<div class="product__price">
  12 240 ₽
  <div class="product__special-price">
    <span>11 240 ₽</span>
    <span class="product__price-info">Для членов <a href="#">«Клуба друзей»</a></span>
  </div>
</div>
<div class="product__options">  
  <div class="product__option">
    <span class="product__option-title">
      Выберите цвет
    </span>
    <div class="product__option-items-wrapper">
      <div class="product__option-items">
        {{> colorSelector }}
      </div>
    </div>
  </div>
  <div class="product__option">
    <span class="product__option-title">
      Выберите размер
    </span>
    <div class="product__option-items-wrapper">
      <div class="product__option-items">
        {{> sizeSelector }}
      </div>
    </div>
  </div>
</div>
<div class="product__actions">
  <div class="product__qty">
    {{> numberInput }}
  </div>
  <buttton class="btn btn--outline">В корзину</buttton>
  <div class="product__share-link">
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 22"><path d="M3.305 10.315a5.312 5.312 0 118.371-6.389h1.398a5.312 5.312 0 118.37 6.389l-9.07 9.072-9.07-9.07v-.002zm19.022.888A6.56 6.56 0 0019.59.282a6.562 6.562 0 00-7.214 2.427 6.562 6.562 0 10-9.953 8.493l9.953 9.952 9.952-9.95v-.002z" fill="#262626"/></svg>
    <a href="#" class="favorite">
      В избранное
    </a>
  </div>
</div>
<div class="product__inspiration">
  <div class="product__inspiration-image">
    <img src="./dist/images/inspiration.jpg" alt="выставка «Хранители. Братство ключа»">
  </div>
  <div class="product__inspiration-text">
    <a href="#">
      Коллекция вдохновлена выставкой «Хранители. Братство ключа», приуроченной к 75-летию отдела нумизматики. 
    </a>
  </div>
</div>