<div class="product-slider">
  <div class="product-slider__main splide">
    <div class="splide__track">
      <div class="splide__list">
        {{#each images }}
          <div class="splide__slide">
            <img src="./dist/images/{{img}}.jpg" alt="">
          </div>
        {{/each}}
        <div class="splide__slide">
          <div class="video">
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/0UnsNXoEs_8?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-slider-thumb splide">
    <div class="splide__track">
      <div class="splide__list">
        {{#each images }}
          <div class="splide__slide">
            <img src="./dist/images/{{img}}.jpg" alt="">
          </div>
        {{/each}}
        <div class="splide__slide">
          <img src="./dist/images/product1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>