<div class="accordeon">
  <div class="accordeon__item">
    <h2 class="accordeon__header">
      <button class="accordeon__trigger">
        Доставка
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 22"><path d="M.667 10h20.416l-8.75-8.75L13.44 0l10.833 10.833L13.44 21.667l-1.107-1.25 8.75-8.75H.667V10z" fill="#262626"/></svg>
      </button> 
    </h2>
    <div class="accordeon__panel">
      <p>
        В нашем магазине существует 2 способа доставки
        БЕСПЛАТНАЯ ДОСТАВКА
        В бесплатную доставку входит плановая доставка  курьером по Москве в пределах МКАД.
        Самовывоз заказа из любого удобного для вас пункта выдачи заказов.
        ПЛАТНАЯ ДОСТАВКА
        – Доставка за МКАД платная, рассчитывается в соответствии с тарифами служб доставки.
        – Доставка по России платная, рассчитывается в соответствии с тарифами служб доставки.
      </p>
    </div>
  </div>
  <div class="accordeon__item">
    <h2 class="accordeon__header">
      <button class="accordeon__trigger">
        Оплата
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 22"><path d="M.667 10h20.416l-8.75-8.75L13.44 0l10.833 10.833L13.44 21.667l-1.107-1.25 8.75-8.75H.667V10z" fill="#262626"/></svg>
      </button> 
    </h2>
    <div class="accordeon__panel">
      <p>
        В нашем магазине существует 2 способа доставки
        БЕСПЛАТНАЯ ДОСТАВКА
        В бесплатную доставку входит плановая доставка  курьером по Москве в пределах МКАД.
        Самовывоз заказа из любого удобного для вас пункта выдачи заказов.
        ПЛАТНАЯ ДОСТАВКА
        – Доставка за МКАД платная, рассчитывается в соответствии с тарифами служб доставки.
        – Доставка по России платная, рассчитывается в соответствии с тарифами служб доставки.
      </p>
    </div>
  </div>
  <div class="accordeon__item">
    <h2 class="accordeon__header">
      <button class="accordeon__trigger">
        Обмен и возврат
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 22"><path d="M.667 10h20.416l-8.75-8.75L13.44 0l10.833 10.833L13.44 21.667l-1.107-1.25 8.75-8.75H.667V10z" fill="#262626"/></svg>
      </button> 
    </h2>
    <div class="accordeon__panel">
      <p>
        В нашем магазине существует 2 способа доставки
        БЕСПЛАТНАЯ ДОСТАВКА
        В бесплатную доставку входит плановая доставка  курьером по Москве в пределах МКАД.
        Самовывоз заказа из любого удобного для вас пункта выдачи заказов.
        ПЛАТНАЯ ДОСТАВКА
        – Доставка за МКАД платная, рассчитывается в соответствии с тарифами служб доставки.
        – Доставка по России платная, рассчитывается в соответствии с тарифами служб доставки.
      </p>
    </div>
  </div>
  <div class="accordeon__item">
    <h2 class="accordeon__header">
      <button class="accordeon__trigger">
        Гарантии
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 22"><path d="M.667 10h20.416l-8.75-8.75L13.44 0l10.833 10.833L13.44 21.667l-1.107-1.25 8.75-8.75H.667V10z" fill="#262626"/></svg>
      </button> 
    </h2>
    <div class="accordeon__panel">
      <p>
        В нашем магазине существует 2 способа доставки
        БЕСПЛАТНАЯ ДОСТАВКА
        В бесплатную доставку входит плановая доставка  курьером по Москве в пределах МКАД.
        Самовывоз заказа из любого удобного для вас пункта выдачи заказов.
        ПЛАТНАЯ ДОСТАВКА
        – Доставка за МКАД платная, рассчитывается в соответствии с тарифами служб доставки.
        – Доставка по России платная, рассчитывается в соответствии с тарифами служб доставки.
      </p>
    </div>
  </div>
</div>