<div class="select" tabindex=0>
  <div class="select__value" data-type="value">Value</div>
  <div class="select__dropdown">
    <div class="select__dropdown-items" role="listbox">
      <div class="select__dropdown-item" data-type="item" role="option" tabindex="0">
        item 1
      </div>
      <div class="select__dropdown-item" data-type="item" role="option" tabindex="0">
        item 2
      </div>
      <div class="select__dropdown-item" data-type="item" role="option" tabindex="0">
        item 3
      </div>
    </div>
  </div>
</div>