<label class="size-selector">
  <input class="size-selector__input" type="radio" name="size" value="xxl">
  <span class="size-selector__box">
    XXXL
  </span>
</label>
<label class="size-selector">
  <input class="size-selector__input" type="radio" name="size" value="xxl">
  <span class="size-selector__box">
    XXL
  </span>
</label>
<label class="size-selector">
  <input class="size-selector__input" type="radio" name="size" value="xl">
  <span class="size-selector__box">
    XL
  </span>
</label>
<label class="size-selector">
  <input class="size-selector__input" type="radio" name="size" value="m">
  <span class="size-selector__box">
    M
  </span>
</label>
<label class="size-selector">
  <input class="size-selector__input" type="radio" name="size" value="m">
  <span class="size-selector__box">
    S
  </span>
</label>
<label class="size-selector">
  <input class="size-selector__input" type="radio" name="size" value="m">
  <span class="size-selector__box">
    XS
  </span>
</label>