<div class="stars {{ class }}" data-rating="{{ rating }}">
  <svg class="star" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <linearGradient id="linear-gradient-1">
      <stop class="color1-start" offset="0%" stop-color="#BDBDBD"/>
      <stop class="color1-end" offset="60%" stop-color="#BDBDBD"/>
      <stop class="color2-start" offset="60%" stop-color="#BDBDBD"/>
      <stop class="color2-end" offset="100%" stop-color="#BDBDBD"/>
    </linearGradient>
    <path d="M16 6.52l2.76 5.58.46 1 1 .15 6.16.89-4.38 4.3-.75.73.18 1 1.05 6.13-5.51-2.89L16 23l-.93.49-5.51 2.85 1-6.13.18-1-.74-.77-4.42-4.35 6.16-.89 1-.15.46-1L16 6.52zM16 2l-4.55 9.22-10.17 1.47 7.36 7.18L6.9 30l9.1-4.78L25.1 30l-1.74-10.13 7.36-7.17-10.17-1.48L16 2z" fill="url(#linear-gradient-1)"/>
  </svg>
  <svg class="star" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <linearGradient id="linear-gradient-2">
      <stop class="color1-start" offset="0%" stop-color="#BDBDBD"/>
      <stop class="color1-end" offset="60%" stop-color="#BDBDBD"/>
      <stop class="color2-start" offset="60%" stop-color="#BDBDBD"/>
      <stop class="color2-end" offset="100%" stop-color="#BDBDBD"/>
    </linearGradient>
    <path d="M16 6.52l2.76 5.58.46 1 1 .15 6.16.89-4.38 4.3-.75.73.18 1 1.05 6.13-5.51-2.89L16 23l-.93.49-5.51 2.85 1-6.13.18-1-.74-.77-4.42-4.35 6.16-.89 1-.15.46-1L16 6.52zM16 2l-4.55 9.22-10.17 1.47 7.36 7.18L6.9 30l9.1-4.78L25.1 30l-1.74-10.13 7.36-7.17-10.17-1.48L16 2z" fill="url(#linear-gradient-2)"/>
  </svg>
  <svg class="star" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <linearGradient id="linear-gradient-3">
      <stop class="color1-start" offset="0%" stop-color="#BDBDBD"/>
      <stop class="color1-end" offset="80%" stop-color="#BDBDBD"/>
      <stop class="color2-start" offset="80%" stop-color="#BDBDBD"/>
      <stop class="color2-end" offset="100%" stop-color="#BDBDBD"/>
    </linearGradient>
    <path d="M16 6.52l2.76 5.58.46 1 1 .15 6.16.89-4.38 4.3-.75.73.18 1 1.05 6.13-5.51-2.89L16 23l-.93.49-5.51 2.85 1-6.13.18-1-.74-.77-4.42-4.35 6.16-.89 1-.15.46-1L16 6.52zM16 2l-4.55 9.22-10.17 1.47 7.36 7.18L6.9 30l9.1-4.78L25.1 30l-1.74-10.13 7.36-7.17-10.17-1.48L16 2z" fill="url(#linear-gradient-3)"/>
  </svg>
  <svg class="star" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <linearGradient id="linear-gradient-4">
      <stop class="color1-start" offset="0%" stop-color="#BDBDBD"/>
      <stop class="color1-end" offset="60%" stop-color="#BDBDBD"/>
      <stop class="color2-start" offset="60%" stop-color="#BDBDBD"/>
      <stop class="color2-end" offset="100%" stop-color="#BDBDBD"/>
    </linearGradient>
    <path d="M16 6.52l2.76 5.58.46 1 1 .15 6.16.89-4.38 4.3-.75.73.18 1 1.05 6.13-5.51-2.89L16 23l-.93.49-5.51 2.85 1-6.13.18-1-.74-.77-4.42-4.35 6.16-.89 1-.15.46-1L16 6.52zM16 2l-4.55 9.22-10.17 1.47 7.36 7.18L6.9 30l9.1-4.78L25.1 30l-1.74-10.13 7.36-7.17-10.17-1.48L16 2z" fill="url(#linear-gradient-4)"/>
  </svg>
  <svg class="star" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <linearGradient id="linear-gradient-5">
      <stop class="color1-start" offset="0%" stop-color="#BDBDBD"/>
      <stop class="color1-end" offset="60%" stop-color="#BDBDBD"/>
      <stop class="color2-start" offset="60%" stop-color="#BDBDBD"/>
      <stop class="color2-end" offset="100%" stop-color="#BDBDBD"/>
    </linearGradient>
    <path d="M16 6.52l2.76 5.58.46 1 1 .15 6.16.89-4.38 4.3-.75.73.18 1 1.05 6.13-5.51-2.89L16 23l-.93.49-5.51 2.85 1-6.13.18-1-.74-.77-4.42-4.35 6.16-.89 1-.15.46-1L16 6.52zM16 2l-4.55 9.22-10.17 1.47 7.36 7.18L6.9 30l9.1-4.78L25.1 30l-1.74-10.13 7.36-7.17-10.17-1.48L16 2z" fill="url(#linear-gradient-5)"/>
  </svg>
</div>