<div class="subscribe">
  <div class="container">
    <h2 class="subscribe__title text-center">подпишитесь на нашу рассылку</h2>
    <p class="text-center">
      Подпишитесь на рассылку, чтобы получить доступ к специальным предложениям
      и скидку 10% на первый заказ!
    </p>
    <div class="subscribe__form col-12 col-md-6 offset-md-3">
      <form class="floating-form">
        <input
          type="text"
          class="app-input floating-form__input"
          placeholder="Введите вашу почту и нажмите ввод"
          name="email"
          id="email"
        />
        <label
          for="email"
          class="floating-form__label"
          data-content="Ваша почта"
        ></label>
        <span>
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
            <path
              d="M24.25 9.25V20.5a3.75 3.75 0 01-3.75 3.75H4.25A3.75 3.75 0 01.5 20.5V9.25c0-1.387.754-2.6 1.875-3.247l-.004-.005L12.373.223 22.38 6l-.001.004a3.749 3.749 0 011.87 3.245zM2.646 7.333l9.729 6.317 9.729-6.317-9.731-5.667-9.727 5.667zm9.729 7.807L1.918 8.35c-.111.287-.168.592-.168.9V20.5a2.5 2.5 0 002.5 2.5H20.5a2.5 2.5 0 002.5-2.5V9.25c0-.317-.059-.621-.168-.9L12.375 15.14v.001z"
              fill="#333"
            />
          </svg>
        </span>
      </form>
    </div>
    <div class="agreement col-12 col-md-6 offset-md-3">
      <label class="check">
        <input
          type="checkbox"
          class="check__input"
          id="agreement"
          name="agreement"
          value="yes"
        />
        <span class="check__box"></span>
        Подписываясь на рассылку вы даете согласие на обработку персональных
        данных в соответствии с
        <a href="#">Политикой конфиденциальности</a> нашего сайта
      </label>
    </div>
  </div>
</div>