<div class="top-banner">
  <div class="container">
    <div class="row">
      <div class="top-banner__slide">
        <div class="top-banner__text">
          <span>
            историческая литература
          </span>
          <h2>
            москва и <span>москвичи</span> подарочное издание
          </h2>
          <button type="button" class="btn btn--outline">Подробнее</button>
        </div>
        <div class="top-banner__img">
          <img src="./dist/images/banner-category.jpg" alt="books">
        </div>
      </div>
    </div>
  </div>
</div>